.exercise{
    height: 580px;
    width: 300px;
    border: 1px solid #A0E77D;
}
.exercise img{
    height: 286px;
    width: 286px;
}
.btn-list{
    height: 50px;
    width: 300px;
    border: 1px solid transparent;
    background-color: #82B6D9;
}
